<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	<uses-permission android:name="com.termux.permission.RUN_COMMAND"/>

    <application
		android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
		android:supportsRtl="true"
		android:resizeableActivity="true"
        android:theme="@style/AppTheme"
		android:windowSoftInputMode="adjustResize"
		android:configChanges="orientation|screenSize|keyboardHidden">
		<activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:label="@string/settings"
			android:name=".SettingsActivity"/>
		<activity
			android:icon="@android:drawable/ic_menu_close_clear_cancel"
			android:name=".FileActivity"/>
    </application>

</manifest>
